{
    "sourceMaps": "both",
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "add-module-exports",
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}