.Toastify__toast-container {
    z-index: 9999;
    -webkit-transform: translate3d(0, 0, 9999px);
    position: fixed;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    color: #fff; }
    .Toastify__toast-container--top-left {
      top: 1em;
      left: 1em; }
    .Toastify__toast-container--top-center {
      top: 1em;
      left: 50%;
      margin-left: -160px; }
    .Toastify__toast-container--top-right {
      top: 1em;
      right: 1em; }
    .Toastify__toast-container--bottom-left {
      bottom: 1em;
      left: 1em; }
    .Toastify__toast-container--bottom-center {
      bottom: -3%;
      left: 0%;
      margin-left: 0; }
    .Toastify__toast-container--bottom-right {
      bottom: 1em;
      right: 1em; }
  
  @media only screen and (max-width: 480px) {
    .Toastify__toast-container {
      width: 100vw;
      padding: 0;
      left: 0;
      margin: 0; }
      .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
        top: 0; }
      .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
        bottom: 0; }
      .Toastify__toast-container--rtl {
        right: 0;
        left: initial; } }
  
  .Toastify__toast {
    position: relative;
    min-height: 64px;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 8px;
    border-radius: 1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    text-align: center;
    max-height: 800px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    direction: ltr;
    background: #4C4C4C; }
    .Toastify__toast-body {
      margin: auto 0;
      -ms-flex: 1;
          flex: 1; }
  
  @media only screen and (max-width: 480px) {
    .Toastify__toast {
      margin-bottom: 0; } }
  
  .Toastify__close-button {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s ease;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .Toastify__close-button--default {
      color: #000;
      opacity: 0.3; }
    .Toastify__close-button:hover, .Toastify__close-button:focus {
      opacity: 1; }
  
  @keyframes Toastify__trackProgress {
    0% {
      transform: scaleX(1); }
    100% {
      transform: scaleX(0); } }
  
  .Toastify__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.45rem;
    z-index: 9999;
    opacity: 0.7;
    background-color: #F2792D;
    transform-origin: left; }
    .Toastify__progress-bar--animated {
      animation: Toastify__trackProgress linear 1 forwards; }
    .Toastify__progress-bar--controlled {
      transition: transform .2s; }
    .Toastify__progress-bar--rtl {
      right: 0;
      left: initial;
      transform-origin: right; }
    .Toastify__progress-bar--default {
      background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); }
    .Toastify__progress-bar--info {
    background: #3498db; }
    .Toastify__progress-bar--success {
    background: #68C9B2; }
    .Toastify__progress-bar--warning {
    background: #f1c40f; }
    .Toastify__progress-bar--error {
    background: #F2792D; }
  
  @keyframes Toastify__slideInUp {
    from {
      transform: translate3d(0, 110%, 0);
      visibility: visible; }
    to {
      transform: translate3d(0, 0, 0); } }
  
  @keyframes Toastify__slideOutDown {
    from {
      transform: translate3d(0, 0, 0); }
    to {
      visibility: hidden;
      transform: translate3d(0, 500px, 0); } }
  
  .Toastify__slide-enter--bottom-center {
    animation-name: Toastify__slideInUp; }
  
  .Toastify__slide-exit--bottom-center {
    animation-name: Toastify__slideOutDown; }